{% extends 'signupform1_base.html' %}

{% block content %}
<div class="jumbotron">
	<p>Welcome to the signup application page</p>
	<form action="{{ url_for('calcuate') }}">
		<label for="spl"> sepal Length</label>
		<input type="input" name="spl">

		<label for="spw"> Sepal width</label>
		<input type="input" name="spw">

		<label for="ptl"> petal Length</label>
		<input type="input" name="ptl">

		<label for="ptw"> petal width</label>
		<input type="input" name="ptw">

		<input type="submit" value="Submit">
	</form>
</div>
{% endblock  %}
